$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 600;

$font_size_xx_small: 1.2rem;
$font_size_x_small: 1.3rem;
$font_size_small: 1.4rem;
$font_size_medium: 1.6rem;
$font_size_large: 1.8rem;
$font_size_x_large: 2.1rem;
$font_size_xx_large: 2.4rem;
$font_size_xxx_large: 3.6rem;
$font_size_xxxx_large: 4.8rem;

$button_hover_transition: ease-out 0.1s;
